* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background-color: #0f0b13;
  color: #ba27ce;
  max-width: 100%;
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  height: 60px;
  background-color: #0f0b13;
  padding: 0 160px;
  border-color: #ffffff40;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  overflow: hidden;
  width: 100%;
  position: fixed;
}

.header-left {
  flex: 1 1 0;
  display: flex;
  justify-content: flex-start;
}

.header-title {
  position: relative;
  display: inline-block;
  height: 1.2em;
  line-height: 1.2em;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  overflow: hidden;
}

.header-center {
  flex: 2 1 0;
  display: flex;
  justify-content: center;
  gap: 28px;
}

.header-button {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  white-space: nowrap;
  transition: color 0.15s ease;
}

.header-button:hover {
  color: #403dff;
  text-shadow:
    0 0 15px #403dff85,
    0 0 30px #403dff;
}

.header-right {
  flex: 1 1 0;
  display: flex;
  justify-content: flex-end;
  gap: 18px;
}

.header-icon {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.15s ease;
}

.header-icon:hover {
  color: #403dff;
  text-shadow:
    0 0 15px #403dff85,
    0 0 30px #403dff;
}

.intro-button {
  margin-right: 10px;
  display: inline-flex;
  box-sizing: border-box;
  width: 180px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
  background: #ba27ce;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: 0.2s;
}

.intro-button:hover {
  background: #cf3ce3;
  box-shadow: 0 0 30px #ba27ce;
  transform: translateY(-10px);
}

#button-v2 {
  background: transparent;
  box-shadow: none;
  color: #7e75ff;
  border-width: 2px;
  border-style: solid;
}

#button-v2:hover {
  background: #7e75ff;
  border-color: #7e75ff;
  color: #fff;
}

.intro-button-container {
  margin-top: 30px;
  width: 100%;
  justify-content: center;
  display: flex;
}

.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 160px 0;
  text-align: center;
  height: 100vh;
  background-image: radial-gradient(#ffffff2b 1px, transparent 1px);
  background-size: 24px 24px;
}

.intro-heading {
  font-size: 96px;
  font-weight: 700;
  line-height: 1.15;
  background: linear-gradient(to bottom right, #ba27ce, #403dff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
}

.intro-greeting {
  font-size: 96px;
  font-weight: 400;
  line-height: 1.15;
  background: linear-gradient(to bottom right, #ba27ce, #403dff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
}

.intro-subheading {
  font-size: 20px;
  font-weight: 300;
  line-height: 2.75em;
  transition: 0.5s;
  color: #fff;
}

.intro-text {
  padding-top: 16px;
  font-size: 16px;
  color: #fff;
}

.down-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 160px 0;
  text-align: center;
  height: 100vh;
  background-image: radial-gradient(#ffffff2b 1px, transparent 1px);
  background-size: 24px 24px;
}

.down-greeting {
  font-size: 96px;
  font-weight: 400;
  line-height: 1.15;
  background: linear-gradient(to bottom right, #ba27ce, #403dff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
}
